.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #0070f3;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.formRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .formColumn {
    flex: 1 1 50%;
    margin-bottom: 8px;
    margin-right: 10px;
  }
  
  .formColumn:last-child {
    margin-right: 0; 
  }

.button {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.button:hover {
  background-color: #0052cc;
}
